<div class="uk-card uk-card-default uk-card-body uk-card-hover homapage__block uk-padding-remove">
  <div class="gallery__slides">
    <div class="gallery__slide">your content</div>
    <div class="gallery__slide">inny content</div>
    <div class="gallery__slide">owaki content</div>
  </div>
</div>
{{yield}}
