<div class="uk-card uk-card-default uk-card-body uk-card-hover homapage__block uk-padding-remove">
  <div class="gallery__slides">
    <div class="gallery__slide">your content</div>
    <div class="gallery__slide">inny content</div>
    <div class="gallery__slide">owaki content</div>
  </div>
  <a class="uk-position-center-left uk-position-small uk-hidden-hover uk-slidenav-large slidenav--left" href="#" uk-slidenav-previous></a>
  <a class="uk-position-center-right uk-position-small uk-hidden-hover uk-slidenav-large slidenav--right" href="#" uk-slidenav-next></a>
</div>
{{yield}}
