<div class="uk-card uk-card-default uk-card-body uk-card-hover homapage__block uk-card-large">
  <h3 class="uk-card-title">O Nas</h3>
  <hr>
  <p>Schronisko dla Kobiet i Mężczyzn w Wąworkowie prowadzone jest od <b>1996 roku</b> przez Stowarzyszenie Samotnych Rencistów, Emerytów i Inwalidów.<br>
  Kliknij tutaj i dowiedz się o nas więcej.</p>
  <a class="uk-button uk-button-default" href="#">Więcej</a>
</div>
{{yield}}
