<div class="uk-section uk-section-large uk-section-muted">
  <div class="uk-container">
    <h1 class="uk-heading-line uk-text-center"><span>Galeria Zdjęć</span></h1>

    <div class="uk-text-center uk-grid-match" id="gallery__grid" uk-scrollspy="target: > div; cls:uk-animation-fade; delay: 500" uk-grid>
      <div class="uk-width-1-2@m uk-height-medium gallery__item">
        <a href="/assets/images/photos/photo_1.jpg"
          class="uk-card uk-card-default uk-card-body uk-background-cover"
          style="background-image: url(/assets/images/photos/photo_1.jpg);">
        </a>
      </div>
      <div class="uk-width-1-2@m uk-height-medium gallery__item">
        <a href="/assets/images/photos/photo_3.jpg"
          class="uk-card uk-card-default uk-card-body uk-background-cover"
          style="background-image: url(/assets/images/photos/photo_3.jpg);">
        </a>
      </div>
      <div class="uk-width-1-3@m uk-height-medium gallery__item">
        <a href="/assets/images/photos/photo_5.jpg"
          class="uk-card uk-card-default uk-card-body uk-background-cover"
          style="background-image: url(/assets/images/photos/photo_5.jpg);">
        </a>
      </div>
      <div class="uk-width-1-3@m uk-height-medium gallery__item">
        <a href="/assets/images/photos/photo_16.jpg"
          class="uk-card uk-card-default uk-card-body uk-background-cover"
          style="background-image: url(/assets/images/photos/photo_16.jpg);">
        </a>
      </div>
      <div class="uk-width-1-3@m uk-height-medium gallery__item">
        <a href="/assets/images/photos/photo_8.jpg"
          class="uk-card uk-card-default uk-card-body uk-background-cover"
          style="background-image: url(/assets/images/photos/photo_8.jpg);">
        </a>
      </div>
      <div class="uk-width-1-2@m uk-height-medium gallery__item">
        <a href="/assets/images/photos/photo_10.jpg"
          class="uk-card uk-card-default uk-card-body uk-background-cover"
          style="background-image: url(/assets/images/photos/photo_10.jpg);">
        </a>
      </div>
      <div class="uk-width-1-2@m uk-height-medium gallery__item">
        <a href="/assets/images/photos/photo_32.jpg"
          class="uk-card uk-card-default uk-card-body uk-background-cover"
          style="background-image: url(/assets/images/photos/photo_32.jpg);">
        </a>
      </div>
      <div class="uk-width-1-3@m uk-height-medium gallery__item">
        <a href="/assets/images/photos/photo_12.jpg"
          class="uk-card uk-card-default uk-card-body uk-background-cover"
          style="background-image: url(/assets/images/photos/photo_12.jpg);">
        </a>
      </div>
      <div class="uk-width-1-3@m uk-height-medium gallery__item">
        <a href="/assets/images/photos/photo_37.jpg"
          class="uk-card uk-card-default uk-card-body uk-background-cover"
          style="background-image: url(/assets/images/photos/photo_37.jpg);">
        </a>
      </div>
      <div class="uk-width-1-3@m uk-height-medium gallery__item">
        <a href="/assets/images/photos/photo_38.jpg"
          class="uk-card uk-card-default uk-card-body uk-background-cover"
          style="background-image: url(/assets/images/photos/photo_38.jpg);">
        </a>
      </div>
    </div>

  </div>
</div>
{{yield}}
