<div class="uk-section uk-section-large uk-section-muted">
  <div class="uk-container">
    <h1 class="uk-heading-line uk-text-center"><span>Galeria Zdjęć</span></h1>

    <div class="uk-text-center uk-grid-match" id="gallery__grid" uk-scrollspy="target: > div; cls:uk-animation-fade; delay: 500" uk-grid>
      <div class="uk-width-1-2@m uk-height-medium">
        <a href="/assets/images/gallery/photo1.jpeg"
          class="uk-card uk-card-default uk-card-body uk-background-cover"
          style="background-image: url(/assets/images/gallery/photo1.jpeg);">
        </a>
      </div>
      <div class="uk-width-1-2@m uk-height-medium">
        <a href="/assets/images/gallery/photo2.jpeg"
          class="uk-card uk-card-default uk-card-body uk-background-cover"
          style="background-image: url(/assets/images/gallery/photo2.jpeg);">
        </a>
      </div>
      <div class="uk-width-1-3@m uk-height-medium">
        <a href="/assets/images/gallery/photo3.jpeg"
          class="uk-card uk-card-default uk-card-body uk-background-cover"
          style="background-image: url(/assets/images/gallery/photo3.jpeg);">
        </a>
      </div>
      <div class="uk-width-1-3@m uk-height-medium">
        <a href="/assets/images/gallery/photo4.jpeg"
          class="uk-card uk-card-default uk-card-body uk-background-cover"
          style="background-image: url(/assets/images/gallery/photo4.jpeg);">
        </a>
      </div>
      <div class="uk-width-1-3@m uk-height-medium">
        <a href="/assets/images/gallery/photo5.jpeg"
          class="uk-card uk-card-default uk-card-body uk-background-cover"
          style="background-image: url(/assets/images/gallery/photo5.jpeg);">
        </a>
      </div>
      <div class="uk-width-1-2@m uk-height-medium">
        <a href="/assets/images/gallery/photo6.jpeg"
          class="uk-card uk-card-default uk-card-body uk-background-cover"
          style="background-image: url(/assets/images/gallery/photo6.jpeg);">
        </a>
      </div>
      <div class="uk-width-1-2@m uk-height-medium">
        <a href="/assets/images/gallery/photo7.jpeg"
          class="uk-card uk-card-default uk-card-body uk-background-cover"
          style="background-image: url(/assets/images/gallery/photo7.jpeg);">
        </a>
      </div>
    </div>

  </div>
</div>
{{yield}}
