<div class="uk-card uk-card-default">
  <div class="uk-card-media-top">
    <div id="map">
      {{#g-map lat=50.786394 lng=21.462547 zoom=12 as |context|}}
        {{g-map-marker context lat=50.786394 lng=21.462547}}
      {{/g-map}}
    </div>
  </div>
  <div class="uk-card-body">
    <ul class="uk-list uk-list-divider">
    <li>List item 1</li>
    <li>List item 2</li>
    <li>List item 3</li>
</ul>
  </div>
</div>
{{yield}}
