<div class="uk-card uk-card-default">
  <div class="uk-card-media-top">
    <div id="map"></div>
  </div>
  <div class="uk-card-body">
    <ul class="uk-list uk-list-divider">
    <li>List item 1</li>
    <li>List item 2</li>
    <li>List item 3</li>
</ul>
  </div>
</div>
{{yield}}
