<div class="uk-section uk-section-media uk-light uk-background-cover uk-padding-small uk-background-fixed menu-bottom__container">
  <div class="uk-container">
    {{!-- <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
            <div class="uk-navbar-center">
                <ul uk-grid class="uk-navbar-nav" uk-scrollspy="cls: uk-animation-slide-bottom-small; target: > li; delay: 300; repeat: true">
                    <li class="uk-width-auto@m"><a href="#">Pytania</a></li>
                    <li class="uk-width-auto@m"><a href="#">Kontakt</a></li>
                    <a class="uk-navbar-item uk-width-auto@m uk-logo uk-visible@s" href="#" uk-totop uk-scroll></a>
                    <li class="uk-width-auto@m"><a href="#">O Nas</a></li>
                    <li class="uk-width-auto@m"><a href="#">Galeria</a></li>
                </ul>
            </div>
        </nav> --}}
        <p class="uk-heading-line uk-text-center"><span><a href="#" uk-totop uk-scroll></a></span></p>
  </div>
</div>
{{yield}}
