<div class="uk-section uk-section-media uk-light uk-background-cover uk-padding-small uk-background-fixed menu-bottom__container">
  <div class="uk-container uk-container-small">
    <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
            <div class="uk-navbar-center">
                <ul class="uk-navbar-nav" uk-scrollspy="cls: uk-animation-slide-bottom-small; target: > li; delay: 300; repeat: true">
                    <li><a href="#">Pytania</a></li>
                    <li><a href="#">Kontakt</a></li>
                    <a class="uk-navbar-item uk-logo uk-visible@s" href="#" uk-totop uk-scroll></a>
                    <li><a href="#">O Nas</a></li>
                    <li><a href="#">Galeria</a></li>
                </ul>
            </div>
        </nav>
  </div>
</div>
{{yield}}
