<div class="uk-section uk-section-media uk-light uk-background-cover uk-padding-small uk-background-fixed menu-bottom__container">
  <div class="uk-container">
        <p class="uk-heading-line uk-text-center"><span><a href="#" uk-totop uk-scroll></a></span></p>
  </div>
</div>
{{yield}}
