<div class="uk-section uk-section-large uk-section-muted">
    <div class="uk-container">
      <div class="uk-card uk-card-default uk-card-large uk-card-body">
            <h3 class="uk-card-title">Galeria</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
    </div>
</div>
{{yield}}
