<div class="top-section uk-section uk-section-media uk-light uk-background-cover uk-section-large">
  <div class="uk-container">
    <div class="uk-grid-match uk-child-width-1-3@m uk-grid-divider" uk-grid>
      <div>
        {{map-card}}
      </div>
      <div class="uk-width-2-3">
        <div class="uk-inline">
          <h1>Schronisko w Wąworkowie</h1>
          <h2 class="uk-heading-bullet">Działamy od 1996 roku.</h2>
          <p>Pomagamy w trudnych sytuacjach życiowych.</p>
          <p>Nasze Schronisko prowadzone jest przez Stowarzyszenie Samotnych Rencistów, Emerytów i Inwalidów w Pobroszynie.</p>
        </div>
      </div>
    </div>
  </div>
</div>
{{yield}}
