<article class="uk-article">
  <h1 class="uk-article-title">Pani Aniela</h1>
  <p class="uk-article-meta">17 Marca 2017</p>

  <hr class="uk-divider-icon">

  <div class='uk-grid-divider' uk-grid>
    <div class="uk-width-1-2@m">
      <p class="uk-dropcap">
        Aniela nie słyszy, nie mówi, czeka... Aniela postawna kobieta - zna smak cierpienia. Jak można mówić nie mówiąc? Bez słów trudne zadanie, a wokół tylko cisza, a wokół tylko czekanie...
      </p>
      <p>
        Jej życie - ścieżka odrzuceń, na niej szpitale, lekarze, aż wreszcie dom pod lipami, pies wierny, przymilne koty, pokoik z pelargoniami.
      </p>
      <p>
        Aniela jest w swoim świecie, choć nic nie mówi słowami, to całą miłość wyraża swymi pięknymi oczami. Spojrzy na niebo przed sobą, na ogród z dumnymi malwami, przejdzie się droga do bramy - aleją z jarzębinami...
      </p>
      <p>
        Aniela ma swoją mądrość, uważnie patrzy dokoła i rzadko się uśmiecha, i o nic , o nic nie woła... Jak każdy - śmierć nosi w sobie, lecz nie dba o to, nie zważa... jaka jej będzie droga, ile ma dni w kalendarzach?
      </p>
      <p>
        Na ganku pod kolumnami usiądzie w zachodu promieniach, i tyle jej szczęścia co tutaj i tyle jej szczęścia co teraz? Miśka leży wzdłuż muru, grzejąc nie młode już kości, obie z Anielą wiedzą, ile jest w słońcu radości.
      </p>
      <p>
        Ile nadziei w spokoju - w ciepłym dotyku nieba... i nic im teraz więcej, tutaj do szczęścia nie trzeba. Cisza wypełnia krajobraz, choć tętni wokół dźwiękami, cisza może dać spokój, na ławce pod lipami.
      </p>
      <p>
        Nowotwór, przekleństwo człowieka, zrasta się z tkanką istnienia, jakby w żywocie ludzkim nie dość było cierpienia... Jakby w żywocie Anieli cisza przecięta jękiem nie dopełniła tego co ma się w człowieku spełnić.
      </p>
      <p>
        Jakby ta skarga niema inną pobiegła drogą i nie dotarła, gdzie trzeba. ...i nie dotarła do Boga. Zanim wypełni się życie, zanim przeleje cierpienie, grzeje swe dłonie w cieple, łapie słoneczne promienie.
      </p>
      <p>
        Wodzi wzrokiem po drodze, przygląda się harcom szczeniaków i rzuci trochę okruchów dla rozćwierkanych ptaków... Aniela uważne ma oczy i mówi ich uśmiechem, Co słyszy w głosach serca ? Jest tajemniczym człowiekiem.
      </p>
    </div>
    <div class="uk-width-1-2@m uk-flex-first uk-flex-last@s">
      <blockquote cite="#" class="uk-text-muted">
        <p class="uk-margin-small-bottom">
          Dom – to nie tapety, nie meble,<br> nie kąt z żyrandolem, obrazem.<br> Dom – to tam, gdzie choćby pod gołym niebem <br> ludzie są razem.</p>
        <p class="uk-margin-small-bottom">
          Tam, gdzie jasno wieczorem ciemnym, <br> tam, gdzie ciepło, choćby wicher dął. <br> Starczy, że mocno chcemy – <br> a zbudowaliśmy dom...</p>
        <footer>Wiktor Woroszylski</footer>
      </blockquote>
    </div>
  </div>

  <div class="uk-grid-small uk-child-width-auto" uk-grid>
    <div>
      {{#link-to 'wspomnienia.pan-kolasa' class="uk-button uk-button-text"}}Czytaj dalej{{/link-to}}
    </div>
  </div>
</article>
{{outlet}}
