<article class="uk-article">
  <h1 class="uk-article-title">Pan Kolasa</h1>
  <p class="uk-article-meta">17 Marca 2017</p>

  <hr class="uk-divider-icon">

  <div class='uk-grid-divider' uk-grid>
    <div class="uk-width-1-2@m">
      <p class="uk-dropcap">
        Zgrzyt brzozowej miotły na drodze przed domem mruczy o codzienności, o potrzebie porządku, o działaniu. Pochylony człowiek tuli w dłoniach sadzonkę orzecha.
      </p>
      <p>
        <q>Duży- włoski. Będzie piękne drzewo</q>. <br>Jeden, drugi, następny, po tej i po tamtej stronie alejki.
      </p>
      <p>
        <q>Niech rośnie</q> - w szarych oczach światło zadowolenia rozjaśniło mroczność choroby. Teraz nie ma to znaczenia, że cewnik, że nerki chore, że nie wiadomo jak długo... Oby jeszcze starczyło siły na posadzenie drzew. Rosną silne, młode... może
        pamiętają uśmiech oczu, ciepło dłoni, które znalazły im miejsce do życia - gospodarskich, troskliwych dłoni.
      </p>
      <p>
        <q>Panie Kolasa- nie męcz się Pan</q> <br>
        <q>Co tam, nic to</q> i znów łopatą w ziemię, to tu, to tam. Drzewa - spójrz - piękne orzechy. Dziś już przerosły człowieka a człowiek, proch marny pył - umarł i znikł. Znikł ze ścieżki przed domem, z ganku, tarasu, kaplicy. W niedzielę już nie
        zaśpiewa i tylko w liściach orzecha wiatr budzi nasze wspomnienia.
      </p>
    </div>
    <div class="uk-width-1-2@m uk-flex-first uk-flex-last@m">
      <div class="uk-background-cover uk-height-medium" style="background-image: url(/assets/images/bg6.jpg);">
      </div>
    </div>
  </div>

  <div class="uk-grid-small uk-child-width-auto" uk-grid>
    <div>
      <a class="uk-button uk-button-text" href="#">Czytaj dalej</a>
    </div>
  </div>
</article>
{{outlet}} {{outlet}}
