<div class="uk-section uk-section-medium uk-section-muted">
  <div class="uk-container">

    <div class="uk-card uk-card-default uk-card-large uk-card-body">
      <div class="uk-grid-divider uk-child-width-expand@s uk-grid-match" uk-grid>
        <div>
          <article class="uk-article" uk-scrollspy="cls:uk-animation-fade; repeat: true">
            <h1 class="uk-heading-line"><a class="uk-link-reset" href="">Najczęstsze Pytania</a></h1>
            <p class="uk-article-meta">Odpowiedzi na naczęściej pojawiające się pytania.</p>

            <p class="uk-text-lead">Czy są miejsca?</p>
            <p>Po odpowiedź na to pytanie należy zadzwonić pod numer 888 210 924.</p>

            <p class="uk-text-lead">Kto może być mieszkańcem schroniska?</p>
            <p>Każda osoba, która znalazła się w trudnej sytuacji życiowej, pod warunkiem, że chce i może współuczestniczyć w świadczeniu wzajemnej pomocy. Mieszkańcy schroniska sami dbają o porządek w domu i w otoczeniu. Biorą udział w przygotowywaniu posiłków, w uprawie ogrodu oraz partycypują w ogólnych kosztach swojego utrzymania (wyżywienie, ogrzewanie, woda itp.).</p>

            <p class="uk-text-lead">Ile osób mieszka w jednym pokoju?</p>
            <p>W schronisku są pokoje 1-osobowe, 2-osobowe i 3-osobowe.</p>
          </article>
        </div>
        <div>
          <article class="uk-article" uk-scrollspy="cls:uk-animation-fade; repeat: true">

            <p class="uk-text-lead">Z jakimi dokumentami mam się zgłosić?</p>
            <p>Wystarczy dokument tożsamości (dowód, legitimacja). Jeśli koszty pobytu mają być refundowane konieczne jest jeszcze skierowanie do schroniska z Ośrodka Pomocy Społecznej.</p>

            <p class="uk-text-lead">Jaki jest koszt miesięcznego pobytu?</p>
            <p>Koszt miesięcznego pobytu to 70% renty lub emerytury ale nie mniej niż 25 zł za jeden dzień pobytu.</p>

            <p class="uk-text-lead">Czy na terenie schroniska przebywają zwierzęta?</p>
            <p>Tak, aktualnie na terenie schroniska mieszkają koty i psy. Kiedyś były też hodowane kozy i gołębie.</p>

            <hr class="uk-divider-icon">
            <div class="uk-grid-small uk-child-width-auto" uk-grid>
              <div>
                {{#link-to "galeria" class="uk-button uk-button-text"}}Zobacz galerię zdjęć{{/link-to}}
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>

  </div>
</div>
{{outlet}}
