<div class="uk-section uk-section-medium uk-section-muted">
  <div class="uk-container">
    <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
      <div class="about__block--media uk-card-media-left uk-cover-container uk-background-cover" uk-scrollspy="cls:uk-animation-fade" style="background-image: url(/assets/images/bg6.jpg);">
      </div>
      <div>
        <div class="uk-card-body uk-padding-large">
          {{#link-to 'wspomnienia' class='uk-position-medium uk-position-top-right uk-button uk-button-secondary'}}Spis treści{{/link-to}}
        </div>
      </div>
    </div>
  </div>
</div>
{{yield}}

{{outlet}}
