<div class="uk-section uk-section-medium uk-section-muted">
  <div class="uk-container">
    <div class="uk-grid-divider" uk-grid>
      <div class="uk-width-1-3@m">
        <div class="uk-card uk-card-default uk-card-body">
          <ul class="uk-nav uk-nav-default uk-nav-parent-icon" uk-nav>
            {{#link-to 'wspomnienia' class="uk-nav-header nav-header--link" tagName='li' }}Wstęp{{/link-to}}
            <li class="uk-nav-divider"></li>
            <li class="uk-parent uk-open">
              <a href="#">Wspomnienia z jednego domu</a>
              <ul class="uk-nav-sub">
                <li>
                  {{#link-to 'wspomnienia.dom'}}Pani Aniela{{/link-to}}
                </li>
                <li><a href="#">Pan Kolasa</a></li>
              </ul>
            </li>
            <li class="uk-parent">
              <a href="#">Stare notatki</a>
              <ul class="uk-nav-sub">
                <li><a href="#">Notatka</a></li>
                <li><a href="#">Notatka</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div class="uk-width-expand@m" id="memories-container">
        {{outlet}}
      </div>
    </div>
  </div>
</div>
{{yield}}
