<div class="uk-section uk-section-medium uk-section-muted">
  <div class="uk-container">
    <div class="uk-grid-divider" uk-grid>
      <div class="uk-width-1-3@m">
        <div>
          <ul class="uk-nav-default uk-nav-parent-icon" uk-nav>
            <li class="uk-active">{{#link-to 'wspomnienia'}}Wstęp{{/link-to}}</li>
            <li class="uk-parent">
              <a href="#">Mieszkańcy domu</a>
              <ul class="uk-nav-sub">
                <li><a href="#">Wspomnienia z jednego domu</a></li>
                <li><a href="#">Pan Kolasa</a></li>
              </ul>
            </li>
            <li class="uk-parent">
              <a href="#">Stare notatki</a>
              <ul class="uk-nav-sub">
                <li><a href="#">Notatka</a></li>
                <li><a href="#">Notatka</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div class="uk-width-expand@m">
        {{outlet}}
      </div>
    </div>
  </div>
</div>
{{yield}}
